@model NoodlerMVC.Models.FriendViewModelsForUsers
@using Microsoft.AspNet.Identity

<h1>Friends</h1>
@if (Model.UserId.Equals(User.Identity.GetUserId())) {
    <div>
        @foreach (var friend in Model.FriendList) {
            string FriendId = friend.Friend.Id;
            string FirstName = friend.Friend.FirstName;
            string LastName = friend.Friend.LastName;
            string TargetId = "deleteFriend" + FriendId;
            string HashTargetId = "#deleteFriend" + FriendId;

            <div class="card mb-2">
                <div class="card-body">
                    <div class="media">
                        <a href="@Url.Action("Index", "Profile", new { id = FriendId })" class="card-link">
                            <img class="mr-1" src="@Url.Action("RenderProfileImage", "Profile", new { id = FriendId })" height="32" width="32" />
                            <span class="badge badge-light">@FirstName  @LastName</span>
                        </a>
                        <div class="media-body">
                            <button type="button" class="close" data-toggle="modal" data-target="@HashTargetId">&times;</button>
                            <button type="button" class="close" data-id="@FriendId">&clubs;</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="@TargetId" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Confirm</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to remove @FirstName @LastName as a friend?
                        </div>
                        <footer class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-danger removeFriendBtn" data-friend-id="@FriendId">Remove Friend</button>
                        </footer>
                    </div>
                </div>
            </div>
        }
    </div>
} else {
    <div>
        @foreach (var friend in Model.FriendList) {
            string FriendId = friend.Friend.Id;
            string FirstName = friend.Friend.FirstName;
            string LastName = friend.Friend.LastName;
            string TargetId = "deleteFriend" + FriendId;
            string HashTargetId = "#deleteFriend" + FriendId;

            <div class="card mb-2">
                <div class="card-body">
                    <div class="media">
                        <a href="@Url.Action("Index", "Profile", new { id = FriendId })" class="card-link">
                            <img class="mr-1" src="@Url.Action("RenderProfileImage", "Profile", new { id = FriendId })" height="32" width="32" />
                            <span class="badge badge-light">@FirstName  @LastName</span>
                        </a>
                        @if (FriendId.Equals(User.Identity.GetUserId())) {
                            <div class="media-body">
                                <button type="button" class="close" data-toggle="modal" data-target="@HashTargetId">&times;</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="modal fade" id="@TargetId" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Confirm</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to remove this friend?
                        </div>
                        <footer class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-danger removeFriendBtn" data-friend-id="@FriendId">Remove Friend</button>
                        </footer>
                    </div>
                </div>
            </div>
        }
    </div>
}
