@model IEnumerable<NoodlerMVC.Models.SearchViewModels>

<div class="row">
    <div class="col-md-12">
        <h1>User Search: </h1>
        <input type="text" class="form-control" id="SearchField" placeholder="Search users by name" />
        <br />
        @foreach (var item in Model) {
            string HashTargetId = "#CardId-" + item.Profile.Id;
            <div class="card border border-secondary mb-2" id="@HashTargetId">
                <div class="card-body">
                    <div class="media">
                        <a href="@Url.Action("Index", "Profile", new { id = item.Profile.Id })" class="card-link">
                            <img class="mr-1" src="@Url.Action("RenderProfileImage", "Profile", new { id = item.Profile.Id })" height="32" width="32" />
                            <span class="badge badge-light personal-info">@item.Profile.FirstName @item.Profile.LastName</span> <span class="badge badge-light">@item.Profile.BirthDate.ToShortDateString()</span>
                        </a>
                        <div class="media-body">
                            <span class="badge badge-success float-right matchPercentageSpan">@item.Percentage% Match</span>
                        </div>
                    </div>
                    
                </div>
            </div>
        }
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/custom/search.js"></script>
}